.monitor {
    margin-top: 0.33em;

    h3 {
        margin-bottom: 0.33em;

        small {
            float: right;
            opacity: 0.5;
        }
    }

    .status-row {
        display: flex;
        margin-bottom: 2em;
        width: 100%;

        .bar {
            flex-grow: 1;
            height: 2em;
            margin-left: 1px;
            margin-right: 1px;
            border-radius: 2px;
            background-color: red;
            transition: all 150ms ease-in-out;
            cursor: pointer;

            &:hover {
                margin-top: -1em;
                height: 3em;
            }

            &.bar-0 {
                background-color: grey;
            }

            &.bar-2 {
                background-color: green;
            }
        }
    }
}