@import "custom/var";
@import "custom/scrollbar";
@import "custom/base";
@import "custom/bar";

html body {
    background-color: rgb(50, 50, 50);

    a {
        color: $linkColour;
    }
}

.row.no-space {
    margin-left: 0;
    margin-right: 0;
}

.card-chart hr {
    border-top-color: rgb(255, 255, 255, 0.25);
}

.photo {
    background-color: grey;
    border-radius: 100%;
}

.hope-modal__content-container {
    color: #ffffffbd;
}

.hope-modal__close-button:focus {
    box-shadow: none !important;
}
